<?php

# Define the settings
$settings = array (
	'username'			=> 'the_username',
	'password'			=> 'the_password',
	'organisationName'	=> 'organisation_name',
	'feedbackRecipient'	=> 'webmaster@example.com',
);

# Run the application with the specified settings
require_once ('vendor/autoload.php');
new abstractSubmissions ($settings);

?>
